/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  background: #efefef;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
