<h1>Contact Me</h1>

<mat-card class="contact-card" *ngIf="userInfo.firstName">
    <div class="contact-profile-picture"></div>

    <div class="contact-card-content">
        <h1>
            {{userInfo.firstName}} {{userInfo.lastName}}
        </h1>

        <div class="mat-body contact-position">{{userInfo.position}}</div>

        <div class="contact-item">
            <strong>Mobile: </strong>
            <a [href]="sanitize('tel://' + userInfo.phone)" target="_blank">
                {{userInfo.phone}}
            </a>
        </div>

        <div class="contact-item">
            <strong>Email: </strong>
            <a [href]="sanitize('mailto:' + userInfo.email)" target="_blank">
                {{userInfo.email}}
            </a>
        </div>

        <div class="contact-item">
            <strong>LinkedIn: </strong>
            <a [href]="sanitize(userInfo.linkedInProfile)" target="_blank">
                {{userInfo.linkedInProfile}}
            </a>
        </div>

        <div class="contact-item">
            <strong>Skype: </strong>
            <a [href]="sanitize('skype:' + userInfo.skypeName + '?chat')" target="_blank">
                {{userInfo.skypeName}}
            </a>
        </div>
        <div class="contact-item">
            <strong>Resume Source Code: </strong>
            <a [href]="sanitize(userInfo.sourceCodeLink)" target="_blank">
                {{userInfo.sourceCodeLink}}
            </a>
        </div>
    </div>
</mat-card>

