.contact-profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 3px;
  background: url("../../../assets/profile_photo.jpeg");
  background-size: cover;
  margin: 0 auto;
}

.contact-card-content {
  padding: 1rem;
}

.contact-position {
  margin-bottom: 3rem;
  color: #555;
}

.contact-item {
  margin: 0.7rem 0;
}

@media only screen and (min-width: 768px) {
  .contact-profile-picture {
    margin: unset;
    width: 300px;
    height: 300px;
  }

  .contact-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
