<app-profile-summary [userInfo]="userInfo"></app-profile-summary>

<div class="home-page-section">
    <app-skills-summary [skills]="userSkills"></app-skills-summary>
</div>


<div class="home-page-section">
    <app-top-projects [topProjects]="topProjects"></app-top-projects>
</div>
