<mat-card class="home-card" *ngIf="userInfo.firstName">
    <div class="home-profile-picture"></div>

    <div class="home-card-content">
        <h1>
            {{userInfo.firstName}} {{userInfo.lastName}}
        </h1>

        <div class="mat-body home-user-position">{{userInfo.position}}</div>

        <h2>Professional Profile</h2>

        <ul>
            <li *ngFor="let item of userInfo.professionalProfile">
                {{item}}
            </li>
        </ul>

        <div class="home-download-cv-container">
            <a mat-raised-button color="primary" target="_blank" href="{{userInfo.cvFileUrl}}">
                <mat-icon>description</mat-icon>
                Download CV File
            </a>
        </div>

    </div>

</mat-card>
