.home-profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 3px;
  background: url("../../../../../assets/profile_photo.jpeg");
  background-size: cover;
  margin: 0 auto;
}

.home-card-content {
  padding: 1rem;
}

.home-user-position {
  margin-bottom: 2rem;
  color: #555;
}

.home-download-cv-container {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .home-profile-picture {
    margin: unset;
    width: 300px;
    height: 300px;
  }

  .home-card {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .home-download-cv-container {
    margin-top: 1.5rem;
    margin-left: 1.3rem;
    justify-content: flex-start;
  }
}
