<div>
    <app-navbar></app-navbar>
    <div class="cv-container"  [hidden]="loading">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>

<app-loading *ngIf="loading"></app-loading>

