<h2>Skills Summary</h2>

<table class="mat-elevation-z1 home-skill-table" mat-table
       [dataSource]="skills"
       *ngIf="breakpoint === screenBreakpointValue">
    <ng-container matColumnDef="type">
        <td mat-cell class="home-skill-type-cell" *matCellDef="let skill">
            {{skill.type}}
        </td>
    </ng-container>

    <ng-container matColumnDef="list">
        <td mat-cell class="home-skill-list-cell" *matCellDef="let skill">
            <!--  This div required for FF to work with columns.  -->
            <div>
                <ul>
                    <li *ngFor="let item of skill.items">
                        {{item}}
                    </li>
                </ul>
            </div>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: ['type', 'list'];"></tr>
</table>

<div *ngIf="breakpoint === mobileBreakpointValue">
    <mat-card *ngFor="let skill of skills" class="home-skill-card">
        <mat-card-header>
            <mat-card-title>
                {{skill.type}}
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <ul>
                <li *ngFor="let item of skill.items">
                    {{item}}
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
