.home-skill-table {
  width: 100%;
}

.home-skill-type-cell {
  width: 30%;
  padding: 1rem;
  font-weight: 500;
  vertical-align: top;
  color: #444;
}

.home-skill-list-cell {
  padding: 1rem;
}

.home-skill-list-cell div {
  column-count: 3;
  column-fill: balance;
}

.home-skill-list-cell ul {
  margin: 0;
}

.home-skill-card {
  margin-bottom: 1rem
}
