.cv-footer {
  position: relative;
  bottom: 5px;
  right: 5px;
  width: 100%;
  text-align: right;
  color: #888;
}

@media only screen and (min-width: 768px) {
  .cv-footer {
    position: fixed;
  }
}
