<div class="project-list-item">
    <mat-card>
        <mat-card-content>
            <h2>{{project.name}}</h2>
            <div class="project-list-item-details">
                <div>
                    <mat-icon class="project-list-item-icon">calendar_today</mat-icon>
                    <span class="project-list-item-title">
                        Timeframe -
                    </span>
                    {{getProjectDates()}}
                </div>

                <div>
                    <mat-icon class="project-list-item-icon">corporate_fare</mat-icon>
                    <span class="project-list-item-title">
                        Organization -
                    </span>
                    {{project.organization}}
                </div>

                <div>
                    <mat-icon class="project-list-item-icon">language</mat-icon>
                    <span class="project-list-item-title">
                        Geography -
                    </span>
                    {{project.region}}
                </div>
            </div>

            <div class="project-list-item-summary" [innerHTML]="projectSummaryHtml"></div>

            <div class="project-list-item-skills">
                <mat-chip-list [selectable]="false">
                    <mat-chip *ngFor="let skill of randomSkills">
                        {{skill}}
                    </mat-chip>
                    <mat-chip>...</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>

        <mat-card-actions align="end">
            <a mat-button color="primary" routerLink="/projects/{{project.id}}">
                {{'Read More' | uppercase}}
            </a>
        </mat-card-actions>
    </mat-card>
</div>

