.project-list-item {
  margin-bottom: 1rem;
}

.project-list-item .mat-card-header div.mat-card-header-text {
  margin-left: 0;
}

div.project-list-item-details {
  margin: 0.5rem 0 1rem;
  column-fill: auto;
  color: #666;
}

.project-list-item-icon {
  font-size: 1.3rem;
  width: 1.6rem;
  height: 1.3rem;
  position: relative;
  top: 4px;
}

.project-list-item-title {
  font-weight: 500;
}

.project-list-item-skills {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  div.project-list-item-details {
    column-count: 3;
  }
}
