<mat-toolbar class="app-nav-bar mat-elevation-z4" color="primary">
    <a mat-button class="logo-container" routerLink="/">
        <mat-icon class="logo-icon">account_circle</mat-icon>
        <span>Yauhen Brouka</span>
    </a>

    <span class="navbar-spacer"></span>

    <div class="router-navigation-screen">
        <a mat-button
           *ngFor="let route of routes"
           class="router-link {{activeRoute === route.path && 'active'}}"
           routerLink="{{route.path}}">
            <mat-icon class="nav-icon">{{route.icon}}</mat-icon>
            {{route.label}}
        </a>
    </div>

    <div class="router-navigation-mobile">
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
            <mat-icon>menu_open</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <a mat-menu-item
               *ngFor="let route of routes"
               class="mobile-navigation-menu-item"
               [ngClass]="{ 'mobile-active': route.path === activeRoute }"
               routerLink="{{route.path}}">
                <mat-icon class="nav-icon">{{route.icon}}</mat-icon>
                {{route.label}}
            </a>
        </mat-menu>
    </div>
</mat-toolbar>
