.app-nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.app-nav-bar .logo-container {
  font-size: 1.2rem;
}

.app-nav-bar .logo-icon {
  margin-right: 0.6rem;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.router-navigation-screen {
  display: none;
}

.mobile-navigation-menu-item {
  padding-right: 25px;
}

a.mobile-active {
  color: black;
  background: #d2d2d2;
}

.mobile-navigation-menu-item .nav-icon {
  font-size: 1.4rem;
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .router-navigation-mobile {
    display: none;
  }

  .router-navigation-screen {
    display: block;
  }

  .router-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: lighter;
  }

  a.active {
    font-weight: 500;
  }

  .nav-icon {
    margin-right: 0.2rem;
  }
}



