div.project-item-details {
  margin: 0.5rem 0 1rem;
  column-fill: auto;
  color: #666;
}

.project-item-icon {
  font-size: 1.3rem;
  width: 1.6rem;
  height: 1.3rem;
  position: relative;
  top: 4px;
}

.project-item-title {
  font-weight: 500;
}

.project-item-skills {
  margin-top: 1rem;
}

.project-item-details-item {
  margin-bottom: 1rem;
}

.project-list-item-summary {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  div.project-item-details {
    column-count: 2;
  }
}
