<h1>{{project.name}}</h1>

<div class="project-item">
    <mat-card>
        <mat-card-content>
            <div class="project-item-details">
                <div class="project-item-details-item">
                    <mat-icon class="project-item-icon">account_circle</mat-icon>
                    <span class="project-item-title">
                        Position -
                    </span>
                    {{project.role}}
                </div>

                <div class="project-item-details-item">
                    <mat-icon class="project-item-icon">calendar_today</mat-icon>
                    <span class="project-item-title">
                        Timeframe -
                    </span>
                    {{getProjectDates()}}
                </div>

                <div class="project-item-details-item">
                    <mat-icon class="project-item-icon">corporate_fare</mat-icon>
                    <span class="project-item-title">
                        Organization -
                    </span>
                    {{project.organization}}
                </div>

                <div class="project-item-details-item">
                    <mat-icon class="project-item-icon">language</mat-icon>
                    <span class="project-item-title">
                        Geography -
                    </span>
                    {{project.region}}
                </div>
            </div>

            <h2>Summary</h2>
            <div class="project-list-item-summary"
                 [innerHTML]="getHtmlFromText(project.summary || '')"></div>

            <h2>Responsibilities</h2>
            <div class="project-list-item-summary"
                 [innerHTML]="getHtmlFromText(project.responsibilities || '')"></div>

            <h2>Project Technologies</h2>
            <div class="project-item-skills">
                <mat-chip-list [selectable]="false">
                    <mat-chip *ngFor="let skill of project.skills"
                              [matTooltip]="skill.type"
                              matTooltipPosition="above">
                        {{skill.name}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="goBack()">
                {{'Go Back' | uppercase}}
            </button>
        </mat-card-actions>

    </mat-card>
</div>

