<h2>Recent Projects</h2>

<div class="project-cards-container">
    <mat-card class="home-top-project-card" *ngFor="let project of topProjects">
        <mat-card-header>
            <mat-card-title class="home-top-project-card-title">
                {{project.name}}
            </mat-card-title>
            <mat-card-subtitle>
                {{project.organization}}, {{project.region}}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="home-top-project-card-content">
            <div class="home-project-dates">{{getProjectDateString(project)}}</div>

            <div>
                {{getTruncatedSummary(project.summary)}}
            </div>
        </mat-card-content>

        <mat-card-actions align="start" class="project-card-actions">
            <a mat-button color="primary" class="open-project-button" routerLink="/projects/{{project.id}}">
                {{'Read More' | uppercase}}
            </a>
        </mat-card-actions>
    </mat-card>
</div>

<div class="home-view-more-container">
    <a mat-raised-button color="primary" routerLink="/projects">
        {{'show all' | uppercase}}
    </a>
</div>

