.home-top-project-card .home-top-project-card-title {
  font-size: 1.2rem;
}

.home-project-dates {
  text-align: right;
  margin-bottom: 1.2rem;
  font-weight: 500;
  color: #777;
}

.home-top-project-card {
  margin-bottom: 1rem;
}

.home-view-more-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  .project-cards-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
  }

  .project-card-actions {
    height: 2rem;
  }

  .home-top-project-card {
    flex-basis: 25%;
  }

  .open-project-button {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .home-top-project-card {
    flex-basis: 28%;
  }
}

@media only screen and (min-width: 1200px) {
  .home-top-project-card {
    flex-basis: 29%;
  }
}
