<div class="education-list-item">
    <mat-card>
        <mat-card-content>
            <h2>{{education.institution}} ({{education.toDate | date: 'YYYY'}})</h2>
            <div class="education-list-item-details">
                <div *ngIf="education.degree">
                    <mat-icon class="education-list-item-icon">calendar_today</mat-icon>
                    <span class="education-list-item-title">
                        Degree -
                    </span>
                    {{education.degree}}
                </div>

                <div *ngIf="education.faculty">
                    <mat-icon class="education-list-item-icon">corporate_fare</mat-icon>
                    <span class="education-list-item-title">
                        Faculty -
                    </span>
                    {{education.faculty}}
                </div>

                <div>
                    <mat-icon class="education-list-item-icon">language</mat-icon>
                    <span class="education-list-item-title">
                        Speciality -
                    </span>
                    {{education.speciality}}
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

